[user]
  email = michal@mirzu.com
	name = Michal Minecki
[color]
  diff = auto
  status = auto
  branch = auto
[push]
  default = tracking
[core]
  editor = mvim -f
[alias]
  co = checkout
  br = branch
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
